<div class="card mt-3">
	<div class="card-header">
		<h4>Search For Recipes</h4>
		<button class="btn btn-success" ng-click="getAllRecipes()">Refresh Recipes</button>
	</div>
	<div class="card-body">
		<table class="table table-hover">
			<thead class="thead-gray">
				<tr>
					<th>Recipe ID</th>
					<th>Name</th>
					<th>Category</th>				
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="recipe in recipes" ng-click="goToRecipeView(recipe.name)">
					<td>{{recipe.id}}</td>
					<td>{{recipe.name}}</td>
					<td>{{recipe.category}}</td>					
				</tr>
			</tbody>		
		</table>	
	</div>
	<div class="card-footer">
		Please select a recipe to view ingredients and directions
	</div>
</div>